.contentposts {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    opacity: 0;
    transition: all 0.2s;
}

.filterDiv {
    border-radius: 40px;
    height: fit-content;
    outline: 2px solid rgba(255, 255, 255, 0);
    outline-offset: -2px;
    background-size: cover;
    background-color: #333333;
    background-size: cover;
    background-position: center;
    position: relative;
    display: none;
    transition: all 0.2s;
}

.show {
    display: grid;
}

.filterDiv h2{
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right: 60px;
    position: relative;
    font-size: 25pt;
    top: 15px;
    left: 35px;
    transition: all 0.2s;
    opacity: 0.7;
}
.filterDiv span{
    position: absolute;
    font-size: 25pt;
    width: 100%;
    transition: all 0.2s;
    opacity: 0.7;
}
.filterDiv p{
    position: relative;
    margin-left: 70px;
    margin-bottom: 15px;
    font-size: 12pt;
    opacity: 0.3;
}

.filterDiv:hover h2{
    margin-top: 0px;
    opacity: 1;
}

.filterDiv:hover {
    outline: 2px solid white;
    outline-offset: -2px;
    background-color: #424242
}

@media (max-width: 1200px){
    .contentposts {
        grid-template-columns: 1fr;
    }
}